<HEAD>
 <META http-equiv="Content-Style-Type" content="text/css">
 <STYLE type="text/css"> 
	H1 {font-size: 18pt; 
	    font-weight: bolder; 
	    text-align: left;
	    font-family: sans-serif
	}
	H2 {font-size: 12pt; 
	    font-weight: bolder; text-align: left;
	    font-family: sans-serif
	}
	BODY {margin: 1em
	    font-family: sans-serif
	}
	TD {margin: .5em
	    font-family: sans-serif
	}
	BR {margin: .5em
	    font-family: sans-serif
	}
 </STYLE> 
</HEAD>